<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<!--TIME ENTRY-->
    <div class="container mt-4">
        <h1 class="fw-bold">Time Tracker</h1>

<!--ADD TASK-->
        <form class="row g-3 align-items-center justify-content-end" method="POST" action="{{ url_for('add_task') }}" id="time-entry-form">
            <div class="col-12">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show d-flex align-items-center" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                            </svg>
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>

            <div class="col-4">
                <select class="form-select" aria-label="Client Select" id="client" name="client" required>
                    <option disabled value="Select Client" {% if not client %} selected {% endif %}>Select Client</option>
                    {% for client in clients %}
                        <option value="{{ client }}" {% if client == selected_client %} selected {% endif %}>{{ client }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-3">
                <select class="form-select" aria-label="Client Select" id="project" name="project">
                    <option disabled {% if project != selected_project %} selected {% endif %}>Select Project</option>
                    {% for project in projects %}
                        <option value="{{ project }}" {% if project == selected_project %} selected {% endif %}>{{ project }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3">
                <select class="form-select" aria-label="Client Select" id="activity" name="activity" required>
                    <option disabled {% if activity != selected_activity %} selected {% endif %}>Select Activity</option>
                    {% for activity in activities %}
                        <option value="{{ activity }}" {% if activity == selected_activity %} selected {% endif %}>{{ activity }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="container mt-3 col-2 d-flex justify-content-center align-items-center">
                <div class="form-group text-center" id="tagSelector" style="display: none;">
                    <div class="dropdown">
                        <img src="{{ url_for('static', filename='icons/tag_not_selected_64.png') }}"
                             class="dropdown-toggle"
                             style="width: 32px; height: 32px; cursor: pointer;"
                             aria-label="Tag Select"
                             id="tagDropdown"
                             data-bs-toggle="dropdown"
                             aria-expanded="false">

                        <div class="dropdown-menu form-check" aria-labelledby="tagDropdown" id="tagChecks">
                            <!--JAVASCRIPT TO HANDLE TAG OPTIONS-->
                        </div>
                    </div>
                    <div id="tagRequiredError" class="text-danger" style="display: none;">Please select at least one tag.</div>
                </div>

                <div class="form-check form-switch">
                    &nbsp&nbsp&nbsp
<!--                    <input class="form-check-input fs-5" type="checkbox" role="switch" id="billable" name="billable">-->
<!--                    <label class="form-check-label fs-5">&nbsp$</label>-->
                    <input type="checkbox" class="btn-check" name="billable" id="billable" autocomplete="off">
                    <label class="btn btn-outline-success bold" for="billable">$$</label>
                </div>
            </div>

            <div class="col-6">
                <input type="text" class="form-control" placeholder="New Note" name="task">
            </div>
            <div class="col-2">
                <input type="date" class="form-control" id="start_date" name="start_date" value="{{ today }}" required>
            </div>
            <div class="col-2">
                <input type="time" class="form-control" id="start_time" name="start_time" value="{{ time }}" required>
            </div>
            <div class="col-2">
                <input type="time" class="form-control" id="end_time" name="end_time" value="{{ time }}" required>
            </div>

            <div class="col-2">
                <button class="btn btn-primary w-100" type="submit" id="submit">Add Entry</button>
            </div>
        </form>
    </div>

<!--TIME HISTORY-->
    <div class="container mt-4">
        <ul class="list-group">
            <li class="list-group-item bg-light">
                <div class="row flex-fill mb-1">
                    <div class="fw-bold fs-5">Previous Entries</div>
                </div>
                {% for task in tasks %}
                    <div class="row border rounded bg-white mb-2 pb-2">
                        <div class="row align-items-center mt-2">
                            <div class="col-3 fw-bold border-end">{{ task.project }}</div>
                            <div class="col-3">{{ task.activity }}</div>
                            {% if task.billable %}
                                <div class="col-1 fw-bold fs-5 text-success text-center border-start">$</div>
                            {% else %}
                                <div class="col-1 border-start">&nbsp</div>
                            {% endif %}
                            <div class="col-2 border-start text-muted fw-bold text-center">{{ datetime.strptime(task.start_date, "%Y-%m-%d").strftime("%m/%d/%Y") }}</div>
                            <div class="col-3 border-start border-end text-muted fw-bold text-center">{{ str(datetime.strptime(task.start_time, "%H:%M").strftime("%I:%M %p")) }} - {{ str(datetime.strptime(task.end_time, "%H:%M").strftime("%I:%M %p")) }}</div>
                        </div>
                        <div class="row d-flex align-items-center mt-1">
                            <div class="col-3 text-primary">{{ task.client }}</div>
                            <div class="col-8 text-end">
                                {% if task.tags != "" %}
                                    {% for tags in task.tags.split(',') %}
                                        <div class="d-inline-block rounded bg-info p-1" style="font-size: 14px;">{{ tags }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="border-start border-end col-1 text-center">
                                <a href="{{ url_for('delete_task', task_id=task.id) }}" class="btn btn-danger btn-sm" style="font-size: 10px;">X</a>
                            </div>
                        </div>
                        <div class="fst-italic" style="font-size: 12px;">{{ task.task }}</div>
                    </div>

                {% endfor %}
            </li>

        </ul>
    </div>



<script src="static\js\script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>