<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<!--TIME ENTRY-->
    <div class="container border mt-4">
        <h1>Time Tracker</h1>
        <form class="row g-3 align-items-center" method="POST" action="{{ url_for('add_task') }}">
            <div class="col-4">
                <select class="form-select" aria-label="Client Select" id="client" name="client" required>
                    <option selected>Select Client</option>
                    <option value="Marvel Entertainment">Marvel Entertainment</option>
                    <option value="Reynolds, Ryan & Blake">Reynolds, Ryan & Blake</option>
                    <option value="Wilson, Wade">Wilson, Wade</option>
                </select>
            </div>
            <div class="col-4">
                <select class="form-select" aria-label="Client Select" id="project" name="project">
                    <option selected>Select Project</option>
                    <option value="Administrative">Administrative</option>
                    <option value="Monthly Bookkeeping">Monthly Bookkeeping</option>
                    <option value="Tax Preparation">Tax Preparation</option>
                </select>
            </div>
            <div class="col-4">
                <select class="form-select" aria-label="Client Select" id="activity" name="activity" required>
                    <option selected>Select Activity</option>
                    <option value="2024 Transactions">2024 Transactions</option>
                    <option value="Tax Entries">Tax Entries</option>
                    <option value="Filing">Filing</option>
                </select>
            </div>
            <div class="col-4">
                <select class="form-select" aria-label="Client Select" id="tags" name="tags" required>
                    <option selected>Select Tags</option>
                    <option value="January Transactions">January Transactions</option>
                    <option value="February Transactions">February Transactions</option>
                    <option value="March Transactions">March Transactions</option>
                </select>
            </div>
            <div class="col-2 form-check form-switch border d-flex">
                &nbsp&nbsp
                <input class="form-check-input" type="checkbox" role="switch" id="billable" name="billable">
                <label class="form-check-label">&nbspBillable</label>
            </div>
            <div class="col-2">
                <input type="time" class="form-control" id="start_time" name="start_time" value="{{ time }}" required>
            </div>
                        <div class="col-2">
                <input type="time" class="form-control" id="end_time" name="end_time" value="{{ time }}" required>
            </div>
            <div class="col-2">
                <input type="date" class="form-control" id="start_date" name="start_date" value="{{ today }}" required>
            </div>
            <div class="col-10">
                <input type="text" class="form-control" placeholder="New Note" name="task">
            </div>
            <div class="col-2">
                <button class="btn btn-primary w-100" type="submit">Add Entry</button>
            </div>
        </form>
    </div>

<!--TIME HISTORY-->
    <div class="container border mt-4">
        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item">
                    <div class="row align-items-center">
                        <div class="border col-3">{{ task.project }}</div>
                        <div class="border col-3 text-primary">{{ task.client }}</div>
                        <div class="border col-6 bg-light justify-content-end">{{ task.tags }}</div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="border col-3">{{ task.task }}</div>
                        <div class="border col-auto">{{ task.billable }}</div>
                        <div class="border col-auto">{{ task.start_date }}</div>
                        <div class="border col-auto">{{ task.start_time }}</div>
                        <div class="border col-auto">{{ task.start_time }}</div>
                        <div class="border col-auto">
                            <a href="{{ url_for('delete_task', task_id=task.id) }}" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>